* {
    box-sizing: border-box;
}

header {
    background-image: url(../imagens/banners/background-1.jpg);
    height: 1080px;
    /* width: auto; */
    background-repeat: no-repeat;
}

nav { position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgba(24, 23, 23, 0.5);
    font-family: 'Open Sans', sans-serif;
}

.logo img {
    height: 40px;
    width: auto;
}

.menu a, .login a {
    text-decoration: none;
    color: #fff;
}

.menu a:hover, .login a:hover {
    text-decoration: underline;
}

.menu ul {
    display:flex;
    margin-top: 10px;
}

.menu li {
    margin-left: 20px;
}

.login img {
    height: 25px;
    width: auto;
    position: relative;
    top: 7px;
}

.login a {
    margin-left: 7px;
}

.caixa_reserva {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 1321px;
    height: 300px;
    background-color: rgba(24, 23, 23, 0.5);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-right: 50px;
    margin-top: 200px;
}

.caixa_reserva h2 {
    text-transform: uppercase;
    position: relative;
    top: -35px;
    left: 84px;
    font-weight: 900;
    font-size: 1.5rem;
}

.formulario label {
    font-size: 15px;
}

.formulario input {
    height: 40px;
    border-radius: 15px;
}

.formulario button {
    color: #fff;
    height: 50px;
    border-radius: 10px;
    background-color: #D9843B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-left: 10px;
}

.formulario button:hover {
    scale: 1.1;
    background-color: #5C4C73;
}




/* inicio style footer */
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: #8C4D16;
    color: #fff;
    letter-spacing: 1px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 250px;
}

.rodape__conteudo h1 {
    text-transform: uppercase;
    font-weight: 400;
}

.fa-plane-departure {
   padding: 10px 0 10px;
}

.rodape__midias__sociais__links:hover {
    padding: 3%;
    transition: 0.4s;
    opacity: 0.8;
}

.rodape__midias__sociais i {
    padding: 10px 0 10px;
    margin-top: 10px;
    color: #fff;
    font-size: 21.5px;
}

.rodape__titulo {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
}

.rodape__lista ul {
    list-style: none;   
}

.rodape__lista a {
    text-decoration: none;
    color: #060D0B;
}

.rodape__lista__item:hover {
    transition: 0.4s;
    opacity: 0.8;
}

.rodape__copyright {
    padding: 24px 0 50px;
    background-color: #D9C0A3;
    width: 100%;
    height: 60px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
}
/* fim style footer */